* {
    margin: 0;
    padding: 0;
} 

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #0d1f23;
}

.timer-container {
    text-align: center;
    background-color: #2d4a53;
    position: relative; 
    margin-bottom: 20px;
    padding: 20px; 
    border-radius: 10px;
    height: 100px;

}

.timer-display {
    margin: 20px, 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #afb3b7;
    font-size: 2rem;
}

.action-buttons button {
    font-size: 1em;
    margin: 5px;
    padding: 10px;
    cursor: pointer;
    background-color: #132e35;
    color: #ccd0cf;
    border: none;
    border-radius: 5px;
}

.action-buttons button:hover {
    background-color: #11212d;
}

.log-container {
    margin-top: 20px;
    height: 50vh;
    width: 50%;
    overflow:scroll;
    background-color: #ffff;
    padding: 10px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    justify-content: center;

}
